//general
$gray: #202020;
$gray-dark: #222222;
$gray-light: #f2f5fa;
$gray-light3: #7a899a;
$gray-tin: #eff2f4;
$purple-dark: #0b1432;
$beige: #f6f0d8;
$white: #ffffff;
$black: #000000;
$green: #4ba582;

//icons
$i-active: #e5f2fe;
$i-inactive: #a5a5a5;
$i-blue: #020b2a;

//assets
$purple: rgba(137, 106, 185, 1);
$green-light: rgba(147, 194, 175, 1);

//ads
$pink: #ded5fa;
$blue: #bcdfff;
$gray-light2: #dfdfe3;
